{{!-- <!DOCTYPE html>
<html> --}}
{{!-- <head>
	<title>Mongo </title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> --}}
{{!-- <body> --}}
		<!-- Navbar -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/scrape">Mongo Scrape</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li>   
	        <button type="button" class="btn btn-default navbar-btn">Scrape!</button>
 
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<!-- Jumbotron -->
	<div class="jumbotron text-center">
	  <h1>Saved Articles</h1>
	  {{!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> --}}
	</div>
<!-- 
	<div class="container"> -->
		<div class="panel panel-default">
  		<div class="panel-heading ">Articles</div>
  			<ul>
	   			{{#each articles}}
	   				{{#if this.saved}}
	   					
						<div class="panel-body articles">
							<p>{{this.title}}</p>
						</div>

						<div class="panel-body">
						{{this.link}}
						
							{{!-- <button type="button" data-id={{this._id}}>Save this Article</button> --}}
						</div>
						
						<div class="panel-body">
							<p>Notes:</p>
							{{#each this.note}}
							<p>{{this.title}}</p>
							<p>{{this.body}}</p>
							{{/each}}
						</div>
						
						{{!-- form for delete button --}}
						<div class="panel-body">
						{{!-- Add an update note button --}}
								<form method="POST" action="/saved/{{this.id}}"> 
									<button type="button"
									class="btn btn-default" data-toggle="modal" data-target="#modal{{this.id}}">
									Add Note</button>
								</form><br>
								<form method="POST" action="/delete/{{this._id}}?_method=DELETE" {{!-- align="center" --}}>
									<button type="submit" class="btn btn-default" align="center">Delete Article</button>
								</form>	
							
						</div>
					{{/if}}
				{{/each}}
			</ul>
			
 
  		
		</div>


<!-- 	</div> -->
		{{!-- MODAL --}}
	{{#each articles}}
		<div class="modal fade" id="modal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="modal2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Note for Article:</h4>
					</div> <!--ends modal-header-->
					<ul>
					{{#each this.note}}
							<li>
								<form method="POST" action="/deleteNote/{{this._id}}">
									<p>{{this.title}}</p>
									<p>{{this.body}}</p>
									<button type="submit" class="btn btn-default">X</button>
								</form>	
							</li>
					{{/each}} 
					</ul>	

					<form class="form-horizontal" method="POST" action="/saved/{{this._id}}">
					{{!-- <div class="form-group">
--}}					<div class="col-sm-10">
							<input type="text" name="title" placeholder="Title" class="form-control" rows="3">
						</div>
						<div class="col-sm-10">
							<textarea class="form-control" name="body" placeholder="Note" rows="3"></textarea>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!--/.modal-->
	{{/each}}
{{!-- </body> --}}
{{!-- </html> --}}

